body { background-image: url(../img/Fondo.jpg); background-attachment: fixed; background-size: cover; margin: 0;}


#menu { width: 130%; display: inline; text-align: center;}

#menu a { text-decoration: none; color: #fff; font-size: 30px; padding: 5px 75px; }

#menu a:hover { border-bottom: 2px solid #fff; }


#elenco { margin: 107px 330px 60px 330px; }


#portada img { width: 1000px; text-align: center; margin-bottom: 20px;}


#footer { background: #000; text-align: center; color: #fff; font-size: 15px; padding: 20px;}


#redes { position: fixed; right: 20px; top: 420px; width: 36px; }


#texto { margin-top: 20px ; }

#texto {  border: solid #000 ; background-color: #000; }

#texto p { color: #fff; font-size: 40px; margin: 10px 20px;}

#mathew img { float: left; }


h1 { color: white; font-size: 50px; margin-bottom: 70px; }


#charlie img { float: left; }

img { margin: 10px 40px; }

#michelle img { float: left; }

#hugh img { float: left; }

#jeremy img { float: left; }

#colin img { float: left; }

#henry img { float: left; }